<body class="main-container">

  <!-- Navigation Start -->
  <nav class="main-nav">
    <div class="navbar">
      <h2 class="nav-title">THE PLANETS</h2>
      <div id="hamburger-menu" class="hamburger-menu"></div>

      <!-- Large Screen Nav Btns Start -->
      <div class="nav-btns-container-lg">
        <div id="mercury-nav-btn-lg" class="nav-btn-container">
          <div class="planet-color-container {{planetColor}}-color"></div>
          <p class="nav-btn-copy">Mercury</p>
        </div>
         <div id="venus-nav-btn-lg" class="nav-btn-container">
          <div class="planet-color-container {{planetColor}}-color"></div>
          <p class="nav-btn-copy">Venus</p>
        </div>
         <div id="earth-nav-btn-lg" class="nav-btn-container">
          <div class="planet-color-container {{planetColor}}-color"></div>
          <p class="nav-btn-copy">Earth</p>
        </div>
         <div id="mars-nav-btn-lg" class="nav-btn-container">
          <div class="planet-color-container {{planetColor}}-color"></div>
          <p class="nav-btn-copy">Mars</p>
        </div>
         <div id="jupiter-nav-btn-lg" class="nav-btn-container">
          <div class="planet-color-container {{planetColor}}-color"></div>
          <p class="nav-btn-copy">Jupiter</p>
        </div>
         <div id="saturn-nav-btn-lg" class="nav-btn-container">
          <div class="planet-color-container {{planetColor}}-color"></div>
          <p class="nav-btn-copy">Saturn</p>
        </div>
         <div id="uranus-nav-btn-lg" class="nav-btn-container">
          <div class="planet-color-container {{planetColor}}-color"></div>
          <p class="nav-btn-copy">Uranus</p>
        </div>
         <div id="neptune-nav-btn-lg" class="nav-btn-container">
          <div class="planet-color-container {{planetColor}}-color"></div>
          <p class="nav-btn-copy">Neptune</p>
        </div>
      </div>
      <!-- Large Screen Nav Btns End -->
     
    </div>

    <div class="nav-horizontal-line"></div>
    
 

   <!-- Navigation Drop Down Menu Start -->
   <div id="nav-btns-container" class="nav-btns-container">
     <div id="mercury-nav-btn" class="nav-btn-container">
       <div class="nav-btn-info-container">
        <div id="mercury-color-container" class="planet-color-container mercury-color"></div>
        <p class="nav-btn-copy">Mercury</p>
       </div>
       <div class="chevron-icon"></div>
     </div>
     <div class="nav-horizontal-line"></div>
     <div id="venus-nav-btn" class="nav-btn-container">
       <div class="nav-btn-info-container">
        <div id="venus-color-container" class="planet-color-container venus-color"></div>
        <p class="nav-btn-copy">Venus</p>
       </div>
        <div class="chevron-icon"></div>
     </div>
     <div class="nav-horizontal-line"></div>
     <div id="earth-nav-btn" class="nav-btn-container">
       <div class="nav-btn-info-container">
        <div id="earth-color-container" class="planet-color-container earth-color"></div>
        <p class="nav-btn-copy">Earth</p>
       </div>
        <div class="chevron-icon"></div>
     </div>
     <div class="nav-horizontal-line"></div>
     <div id="mars-nav-btn" class="nav-btn-container">
       <div class="nav-btn-info-container">
        <div id="mars-color-container" class="planet-color-container mars-color"></div>
        <p class="nav-btn-copy">Mars</p>
       </div> 
        <div class="chevron-icon"></div>
     </div>
     <div class="nav-horizontal-line"></div>
     <div id="jupiter-nav-btn" class="nav-btn-container">
       <div class="nav-btn-info-container">
        <div id="jupiter-color-container" class="planet-color-container jupiter-color"></div>
        <p class="nav-btn-copy">Jupiter</p>
       </div>
        <div class="chevron-icon"></div>
     </div>
     <div class="nav-horizontal-line"></div>
     <div id="saturn-nav-btn" class="nav-btn-container">
       <div class="nav-btn-info-container">
        <div id="saturn-color-container" class="planet-color-container saturn-color"></div>
        <p class="nav-btn-copy">Saturn</p>
       </div> 
        <div class="chevron-icon"></div>
     </div>
     <div class="nav-horizontal-line"></div>
     <div id="uranus-nav-btn" class="nav-btn-container">
       <div class="nav-btn-info-container">
        <div id="uranus-color-container" class="planet-color-container uranus-color"></div>
        <p class="nav-btn-copy">Uranus</p>
       </div> 
        <div class="chevron-icon"></div>
     </div>
     <div class="nav-horizontal-line"></div>
     <div id="neptune-nav-btn" class="nav-btn-container">
       <div class="nav-btn-info-container">
        <div id="neptune-color-container" class="planet-color-container neptune-color"></div>
        <p class="nav-btn-copy">Neptune</p>
       </div> 
        <div class="chevron-icon"></div>
     </div>
   </div>
   <!-- Navigation Drop Down Menu End -->
  </nav>
  <!-- Navigation End -->

  <!-- Main -->
  <main id="main-content" class="main-content">

    <!-- Fact Selection Buttons Container Start -->
    <div id="fact-selection-btns-container" class="fact-selection-btns-container">
      <div id="overview-selection-btn" class="selection-btn selection-btn-active">
          <h3 class="selection-btn-copy"><span class="selection-number">01</span>Overview</h3> 
        <div id="overview-selection-marker" class="selection-marker {{planetColor}}-color"></div>
      </div>
      <div id="structure-selection-btn" class="selection-btn">
        <h3 class="selection-btn-copy"><span class="selection-number">02</span><span class="selection-btn-copy-lg">Internal </span>Structure</h3>
        <div id="structure-selection-marker" class="selection-marker {{planetColor}}-color"></div>
      </div>
      <div id="geology-selection-btn" class="selection-btn">
        <h3 class="selection-btn-copy"><span class="selection-number">03</span>Surface<span class="selection-btn-copy-lg"> Geology</span></h3>
        <div id="geology-selection-marker" class="selection-marker {{planetColor}}-color"></div>
      </div>
    </div>
    <div class="nav-horizontal-line selection-menu-horizontal-line"></div>
    <!-- Fact Selection Buttons Container End -->

    <!-- Main Image Start -->
    <div id="planet-img-container" class="planet-img-container">
      <div style="background-image:url(../public{{planetImg}})" class="planet-img {{planetColor}}-img-size"></div>
    </div>
    <!-- Main Image End -->

    <!-- Planet Structure Image Start -->
    <div id="planet-structure-img-container" class="planet-img-container">
      <div style="background-image:url(../public{{planetStructureImg}})" class="planet-img {{planetColor}}-img-size"></div>
    </div>
    <!-- Planet Structure Image End -->

    <!-- Planet Geology Image Start-->
    <div id="planet-geology-img-container" class="planet-img-container">
      <div style="background-image:url(../public{{planetGeologyImg}})" class="planet-img {{planetColor}}-img-size"></div>
    </div>
    <!-- Planet Geology Image End -->

    <!-- Planet Geology Desktop Image Start-->
    <div id="planet-geology-desktop-img-container" class="planet-img-container desktop-planet-img-container">
      <div style="background-image:url(../public{{planetImg}})" class="planet-img {{planetColor}}-img-size"></div>
      <div style="background-image:url(../public{{planetGeologyImg}})" class="planet-img geology-img-size"></div>
    </div>
    <!-- Planet Geology Desktop Image End -->

    <!-- Planet Information Start -->
    <article class="planet-info-container">
      <h1 class="main-headline">{{planetName}}</h1>

      <!-- Overview Content Start -->
      <p id="planet-overview-copy" class="planet-info-copy">{{planetOverview}}</p>
      <!-- Overview Content End -->
      
      <!-- Internal Structure Content Start -->
      <p id="planet-structure-copy" class="planet-info-copy">{{planetStructure}}</p>
      <!-- Internal Structure Content End -->
      
      <!-- Surface Geology Content Start -->
      <p id="planet-surface-copy" class="planet-info-copy">{{planetGeology}}</p>
      <!-- Surface Geology Content End -->

      <div id="planet-src-container" class="planet-src-container">
        <p id="planet-src-copy" class="src-copy">Source : <a href="{{planetSrc}}" target="_blank">Wikipedia</a> <!-- URL: https://en.wikipedia.org/wiki/Mercury_(planet) --></p>
        <div class="arrow-icon"></div>
      </div>
    </article>
    <!-- Planet Information End -->

    <!-- Planet Stats Start -->
    <article class="planet-stats-container">

      <!-- Rotation Time Start -->
      <div class="stat-container">
        <h4 id="rotation-time-headline" class="stat-headline">Rotation Time</h4>
        <p id="rotation-time-copy" class="stat-copy">{{rotationTime}}</p>
      </div>
      <!-- Rotation Time End -->

      <!-- Revolution Time Start -->
      <div class="stat-container">
        <h4 id="revolution-time-headline" class="stat-headline">Revolution Time</h4>
        <p id="revolution-time-copy" class="stat-copy">{{revolutionTime}}</p>
      </div>
      <!-- Revolution Time End -->

      <!-- Radius Start -->
      <div class="stat-container">
        <h4 id="radius-headline" class="stat-headline">Radius</h4>
        <p id="radius-copy" class="stat-copy">{{radius}}</p>
      </div>
      <!-- Radius End -->

      <!-- Temperature Start -->
      <div class="stat-container">
        <h4 id="temp-headline" class="stat-headline">Average Temp.</h4>
        <p id="temp-copy" class="stat-copy">{{temperature}}</p>
      </div>
      <!-- Temperature End -->

    </article>

  </main>
  
  <script src="../public/main.js"></script>
</body>